.main .aside-nav {
  border: 1px solid rgba(0, 183, 255, .4);
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 183, 255, .2);
  margin: 16px auto;
  padding: 16px;
}

.main .aside-nav-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main .aside-nav-articles {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 0;
  padding: 0;
}

.main .aside-nav-articles-item {
  flex: 1 1 auto;
}

.main .aside-nav-topics {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
}