.card-container .card-item {
  background-color: var(--chumbo);
  border-radius: 8px;
  margin: 16px auto;
  padding: 16px;
}

.card-container .card-item .card-item-header .card-item-header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 16px 0;
  max-height: 20vh;
  min-height: 215px;
  overflow: hidden;
}

.card-container .card-item .card-item-header .card-item-header-title {
  margin: 4px 0;
}

.card-container .card-item .card-item-header .card-item-header-category {
  margin-bottom: 0;
}

.card-container .card-item .card-item-header-meta {
  color: var(--cinza);
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.card-container .card-item-footer {
  height: 48px;
  padding: 16px 0;
}